.Calculator {
  width: 300px;
  margin: 50px auto;
  border: 2px solid #f0e5e5;;
  padding: 5px;
  background-color:rgb(255, 233, 248, 0.1); ;
}

.Keypad button {
  width: 65px;
  height: 65px;
  margin: 5px;
  background-color: rgb(255, 233, 248, 0.6);
  border-style: none;
  color: #c59292;
  font-weight: bold;
}

.Display {
  height: 80px;
  text-align: right;
  line-height: 40px;
  border: px solid #ccc;
  padding-right: 5px;
  background-color: rgb(255, 233, 248, 0.56);
  width: 285px;
  left: auto;
  margin: 10px auto;
  color: #c59292;
  font-weight: bold;
}

.title {
  font-family: 'Your Desired Font', sans-serif;
  text-align: center;
  color: #c59292;
  font-size: medium;
}


